.appContainer{
  height: 100vh;
  width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataResult{
padding:10px;
}

.form{
  display:flex;
  margin-bottom: 20px;
}

.card{
  width: 30%;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 15px;
}

.searchResult{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.input{
  width: 350px;
  margin: 0 10px;
  background-color: unset;
  border-color: #6B7280;
}
@media (max-width: 768px) {
  .card {
    width: 45%;
    flex-direction: column;
  }
}
